html, body {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body *{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.gridTiles{
        background-color: antiquewhite;
    height: 75px;
    width: 82px;
    border-radius: 5px;
    border: 1px solid #d9c4c4;
    box-shadow: 1px 1px 1px 1px #c2c0bd;
    margin: 2px;
}
.temp{
	display: none;
}
.hand {
	cursor: pointer;
}
.matched-grid {
	background-color: #e7e7e7;
}
.filledGrid{
	    height: 100%;
    width: 80px;
    position: relative;
    left: -15px;
    border-radius: 4px;
}
.overLay{
	width: 353px;
    height: 319px;
    background-color: rgba(0, 0, 0, 0.22);
    position: absolute;
    top: 0px;
    left: 109px;
    border-radius: 5px;
}
.startBtn{
	    position: absolute;
    top: 126px;
    left: 143px;
}